/* Background Color */
body {
    background-color: #FFECD1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15616d;
    padding: 0.5rem 1rem;
}

.logo img {
    max-width: 100px;
    height: auto;
}

/* Sections */
section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Individual Team Member */
.team-member {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.team-info {
    text-align: left;
}

.team-info h3 {
    margin: 0;
    color: #15616d;
}

.team-info p {
    margin: 5px 0;
    color: #333;
}

/* Footer */
.site-footer {
    background-color: #15616d;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-logo {
    max-width: 100px;
    margin-bottom: 1rem;
}
